:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  margin-top: 4rem;
}

.hl{
  color: var(--base);
}

body {
  text-align: center;
  height: 100vh;
  background: #193549;
  color: white;
}

